body {
  margin: 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  list-style: none;
  text-decoration: none;
  justify-content: center;
  font-size: 25px;
}

nav li:hover {
  color: green;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: green;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 15rem;
}

footer {
  display: flex;
  justify-content: center;
}
